 body {
    max-width: 1200px;
    margin: 0;
    background-color: white;
    } 
/* Keeps all information inside structure */
.wrapper {
    max-width: 100%;
    margin: auto;
    padding: 1rem;
}
.wrapper-2 {
    max-width: 100%;
    margin: auto;
}
/* top of webpage */
nav {
    font-family: sans-serif;
    line-height: 2rem;
    font-size: 12px;
    text-align: center;
    text-decoration: none;
}

header {
    background-color: #c78c06;
    }
/* navigation function */
nav .top-nav {
    text-decoration: none;
}   
nav ul {
    line-height: 3rem;
    padding-left: 0;
}
a:link {
    color: #c78c06;
    text-decoration: none;
}
a:visited {
    color: #c78c06;
}
a:hover {
    color:tomato
}
a:active {
    background-color: #c78c06;
}
/* Landing page */
.banner {
    background-image: url(../images/main-banner.jpg);
    background-size: cover;
    padding: 1rem;
}
.welcome {
    width: 100%;
    color: white;
    padding: 1rem;
    background-color: rgb(67, 67, 67, .5);
}
/* Title + font structure */
h1 {
    font-size: 5rem;
    line-height: 2;
    font-family: 'Open Sans', sans-serif;
}
p {
    font-size: 13px;
    margin-bottom: 1rem;
    font-family: sans-serif;
    line-height: 2;
}
h2 {
    font-size: 3rem;
    line-height: 1.5;
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-family: sans-serif;
}
/* organize main-body visuals */
.about {
    background-color: #ffe6ac;
    padding: 1rem;
    width: 100%;
}
.digital-trans {
    background-color: #ffe6ac;
    padding: 1rem;
}
/* Responsive single column layout */
@media (min-width: 760px) {
    .wrapper {
      display: flex;
      width: 100%;
      margin: auto;
      justify-content: space-evenly;
    }
    header {
        background-color: transparent;
        width: 30%;
    }
    ul li {
        display: inline-flex;
        margin: 10px;
    }
    .searchbar {
        padding-left: 50px;
        height: 30px;
        width: 100%;
        margin: 30px;
    }
    .button {
        width: 25%;
    }
    .about {
        padding: 20px 70px 20px 70px;
    }
    .about img {
        width: 50%;
        height: 300px;
    }
    .about-text {
        padding-left: 15px;
        font-size: 14px;
        padding-top: 0;
        max-height: fit-content;
        color: white;
    }
    .digital-trans, img {
        padding: 0px;
    }
    }
